@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 300;
    src: local("Muli Light"), local("Muli-Light"), url("fonts/Muli-Light.ttf") format("ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 700;
    src: local("Muli Bold"), local("Muli-Bold"), url("fonts/Muli-Bold.ttf") format("ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito-Regular"), url("fonts/Nunito-Regular.ttf") format("ttf")
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.42857143;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #29ca8e;
    outline: none;
    transition: 0.5s;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: #353535;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: #454545;
}

span {
    color: #333333;
}

section {
    padding: 100px 0;
}

body {
    background: #fff;
    font-family: 'Nunito', sans-serif;
    padding: 70px 0px 0px 0px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000;
}

/*----------------- header --------------*/

.header {
    border-top: 5px solid #29ca8e;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    overflow: hidden;
}

.header__logo a {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__link {
    line-height: 40px;
    color: #575757;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 22px;
    display: block;
    text-transform: capitalize;
    transition: 0.4s;
}

.header__link:hover,
.header .active {
    color: #ffffff;
    background: #29ca8e;
}

.fa-phone {
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #29ca8e;
    padding: 5px 0px 0px 5px;
    transform: rotate(90deg);
    margin: 0px 5px 0px 0px;
}





/* ---------slider------------- */

#home {
    padding: 0;
}

#home .container {
    width: 1170px;
}

#home .home-slider-item{
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 100vh;
}

.item__slider__first {
    background: url('../img/slider-image1.jpg') center center no-repeat;
}

.item__slider__second {
    background: url('../img/slider-image2.jpg') center top no-repeat;
}

.item__slider__third {
    background: url('../img/slider-image3.jpg') center top no-repeat;
}

.caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20, 20, 20, 0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}

.slide__info {
    width: 50%;
    padding: 0 15px;
}

.slider__title {
    color: #fff;
    line-height: normal;
    margin: 20px 0px 10px;
}

.slider__subtitle {
    font-size: 16px;
    color: #f9f9f9;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
    line-height: normal;
}

.slider__subtitle a {
    color: #fff;
    font-weight: bold;
}

.slider__link {
    display: inline-block;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
    padding: 15px 30px;
    transition: 0.5s;
}

.slider__link:hover {
    color: #000;
    background: #fff;
    transition: 0.5s;
}

/* ----------feature----------- */

.feature__row {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.feature__item {
    flex: 0 1 31.5%;
    margin: 0px 0px 30px 0px;
}

.feature__thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
}

.feature__item span {
    background: #3f51b5;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 0px 0px 5px 0px;
}

.feature__item h3 {
    color: #454545;
    margin: 10px 0px;
}

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0px 0px 10px;
}

/* ----------about------------- */

.about__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__item__caption,
.about__item__form {
    flex: 1 1 50%;
    padding: 0px 15px;
}

.about__item__caption h2 {
    margin: 20px 0px 10px 0px;
    text-align: left;
}

.about__item__caption figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 15px;
}

.about__item__caption span {
    padding: 15px 20px;
}

.about__item__caption i {
    background: #29ca8e;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

.about__item__caption figcaption h3 {
    color: #454545;
}

.about__item__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.entry-form {
    background: #252020;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-form form {
    display: flex;
    flex-direction: column;
}

.entry-form h2 {
    color: #fff;
}

.form-control {
    display: block;
    width: 282px;
    height: 45px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #555;
    color: #555;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
}

.submit {
    background: #fff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 70%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
    font-weight: bold;
}

.submit:hover {
    background: #3f51b5;
    color: #fff;
    transition: 0.4s;
}

/* -------------team---------------- */

.section-title {
    padding: 0px 0px 40px 0px;
}

h2 small {
    display: block;
    font-size: 65%;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
}

.team__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.team__item {
    flex: 0 1 25%;
    padding: 0 15px;
}

.team__info {
    padding: 20px 30px;
}

.team__info h3 {
    line-height: 1.5em;
}

.team__social__icon {
    display: flex;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0px 20px;
}

.team__social__icon li a {
    border-radius: 100px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0px;
    color: #252020;
    background: #fff;
}

.team__social__icon li a:hover {
    background: #29ca8e;
    color: #fff;
    transition: 0.4s;
}



/* ---------- courses ---------- */

.courses-item{
    padding: 0 15px;
}

.courses-top {
    position: relative;
}

.courses-image {
    background: linear-gradient(to right, #202020, #101010);
}

.courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
}

.courses-date span {
    color: #fff;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}

.courses-detail {
    padding: 25px 25px 15px 25px;
}

.courses-detail h3 {
    margin: 0px 0px 2px 0px;
}

.courses-info {
    border-top: 1px solid #f0f0f0;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-author {
    display: flex;
    align-items: center;
}

.courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin: 0px 10px 0px 0px;
}

.courses-author span {
    font-size: 14px;
    font-weight: bold;
}

.courses-price span {
    background: #29ca8e;
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 5px 10px;
}

.free span {
    background: #3f51b5;
}

.fa-angle-left {
    content: "\f104";
    vertical-align: middle;
}

.fa-angle-right {
    content: "\f105";
    vertical-align: middle;
}

.glide__arrows{
    margin: 30px 0px 0px 0px;
    height: 40px;
    text-align: center;
}

.glide__arrow{
    position: relative;
    display: inline-block;
    background: #D6D6D6;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0px 5px 0px 0px;
}

.glide__arrow:hover{
    background: #869791;
}

.glide__arrow--left{
    left: 0;
}

.glide__arrow--right{
    right: 0;
}


/*----------------- review ---------------*/

.client-img,
.client-author {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 20px 0px;
    text-align: left;
}

.client-img img {
    width: 60px !important;
    height: 60px;
    border-radius: 60px;
    display: block;
    margin: 0px 10px 0px 0px;
}

.client-author span {
    color: #808080;
    font-size: 14px;
}

#reviews .client-descr {
    font-size: 16px;
    line-height: 26px;
    height: 104px;
}

.reviews-item {
    background: #fff;
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
}

.client-rating {
    margin: 0px 0px 15px 0px;
}

.fa-star {
    color: #3f51b5;
}

/*-------------- contact ---------------------*/

#contact {
    background: #3f51b5;
}

#contact .section-title {
    padding: 0px 0px 20px 0px;
}

#contact .contact__body h2,
#contact .contact__body small {
    color: #fff;
    text-align: left;
}

.contact__body {
    display: flex;
}

.contact__form,
.contact__image {
    width: 50%;
    padding: 0px 15px;
}

.contact__form form {
    padding: 0 15px 0 0;
}

#contact .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0px;
    padding: 0px 15px;
    width: 100%;
    height: 50px;
    background: #fff;
}

textarea.form-control {
    height: auto !important;
}

#contact .submit {
    width: 33.33333333%;
    border-radius: 50px;
}

#contact .submit:hover {
    border: 1px solid rgb(255, 255, 255);
    background: #3f51b5;
    color: #fff;
    transition: 0.5s;
}

/*--------------------- footer ---------------*/

#footer {
    background: #252020;
    padding: 120px 0;
}

#footer p,
#footer a,
#footer span {
    font-style: normal;
    color: #909090;
}

#footer address p {
    margin: 0;
}

#footer .section-title {
    padding: 0px 0px 10px 0px;
}

#footer h2 {
    text-align: left;
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.footer-body {
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    flex: 1 1 33.33333333%;
    padding: 0 15px;
}

.social-icon {
    margin: 25px 0px 0px 0px;
}

.social-icon li {
    display: inline-block;
    margin: 0px 0px 5px 0px;
}

#footer .social-icon li a {
    border-radius: 100px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0px;
    color: #29ca8e;
}

#footer .social-icon li a:hover {
    background: #29ca8e;
    color: #fff;
}

.footer_menu h2 {
    margin: 2em 0px 10px 0px;
}

.footer_menu li {
    display: inline-block;
    margin: 0px 10px 5px 0px;
}

#footer .form-group span {
    font-size: 12px;
    display: block;
    margin: 20px 0px 0px 0px;
}

.newsletter-form .form-control {
    margin: 5px 0px;
    padding: 6px 12px;
}

#footer .submit {
    width: 50%;
    margin: 20px 0px 5px;
    background: #252020;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
}

#footer .submit:hover {
    background: #29ca8e;
    transition: 0.5s;
    border: none;
}

@-moz-document url-prefix() {
    .header .header__link {
        padding: 15px;
    }
}

.glide__bullets{
    position: relative;
    z-index: 2;
    bottom: 2em;
    left: 50%;
    display: block;
    list-style: none;
    transform: translateX(-50%);
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.glide__bullet{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    border-radius: 50%;
    display: inline;
}

.glide__bullet:hover, .glide__bullet:focus, .glide__bullet--active{
    background: #869791;
}

.glide img{
    width: 100%;
    height: auto;
}







@media screen and (max-width:1109px) {

    /*----------------- header --------------*/

    body.lock {
        overflow: hidden;
    }

    .header__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 999;
        overflow: visible;
    }

    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 10px;
        z-index: 99;
    }

    .header__menu {
        background: rgb(255, 255, 255);
        width: 100%;
        position: absolute;
        top: -200vh;
        left: 0;
        z-index: 5;
        transition: 0.4s;
    }

    .header__list {
        display: flex;
        flex-direction: column;
    }

    .header__list li {
        width: 100%;
    }

    .header .header__link {
        width: 100%;
        text-align: center;
        line-height: normal;
    }

    .header__phone {
        background: rgb(255, 255, 255);
        width: 100%;
        position: absolute;
        top: -200vh;
        left: 0;
        z-index: 5;
        transition: 0.4s;
    }

    .show {
        background: rgb(255, 255, 255);
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 5;
        transition: 0.4s;
    }

    .fa-phone {
        padding: 5px 0px 0px 0px;
    }

    /* ---------burger------------- */

    .header__burger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 42px;
        height: 33px;
    }

    .header__burger span,
    .header__burger span:before,
    .header__burger span:after {
        position: absolute;
        display: block;
        left: 0;
        width: 22px;
        height: 2px;
        background: #000;
        border-radius: 20%;
        transition: 0.4s;
    }

    .header__burger span {
        transform: translateY(10px);
    }

    .header__burger span:before {
        content: '';
        transform: translateY(-10px);
    }

    .header__burger span:after {
        content: '';
        transform: translateY(10px);
    }

    /* -------------burger_animation--------------- */

    .header__burger__active span {
        height: 0;
    }

    .header__burger__active span:before {
        content: '';
        transform: rotate(45deg);
    }

    .header__burger__active span:after {
        content: '';
        transform: rotate(-45deg);
    }

}


@media screen and (max-width:992px) {

    /* ----------feature----------- */

    .feature__row {
        display: flex;
        flex-direction: column;
    }

    .feature__item {
        flex: 0 1 100%;
    }

    /* ----------about------------- */

    .about__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__item__caption {
        margin: 0px 0px 50px 0px;
    }

    /* -------------team---------------- */

    .team__thumb {
        margin: 0px 0px 50px 0px;
    }

    /*-------------- contact ---------------------*/

    .contact__body {
        display: flex;
        flex-direction: column;
    }

    .contact__form,
    .contact__image,
    #contact .submit {
        width: 100%;
    }

}

@media screen and (max-width:768px) {

    h1 {
        font-size: 2.5em;
    }

    /* -------------team---------------- */

    .team__item {
        flex: 0 1 50%;
    }

    .team__thumb {
        margin: 0px 0px 50px 0px;
    }

    /*--------------------- footer ---------------*/

    .footer-item {
        flex: 1 1 50%;
    }

}

@media screen and (max-width:480px) {

    h1 {
        font-size: 2em;
    }

    .slide__info {
        width: 100vw;
    }

    /* ----------about------------- */

    .form-control {
        width: 100%;
    }

    .entry-form {
        border-radius: 0;
        padding: 2em;
        max-width: 100%;
        max-height: 100%;
        width: inherit;
        height: inherit;
    }

    .entry-form form {
        width: inherit;
    }

    /* -------------team---------------- */

    .team__item {
        flex: 0 1 100%;
    }

    /*----------------- review ---------------*/

    .reviews-item{
        padding: 2em;
    }

    /*--------------------- footer ---------------*/

    .footer-item {
        flex: 1 1 100%;
    }

}

@media (max-height:425px) {
    .header__body__scroll {
        overflow: auto;
        height: 100vh;
    }
}